<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>serviceName</key>
			<string>testService</string>
			<key>requiredProtocol</key>
			<string>TestProtocol</string>
		</dict>
		<dict>
			<key>serviceName</key>
			<string>fooService</string>
		</dict>
	</array>
	<key>providers</key>
	<dict>
		<key>testService</key>
		<dict>
			<key>providerClass</key>
			<string>TestProvider</string>
			<key>initializer</key>
			<string>initWithFooService:</string>
			<key>dependencies</key>
			<array>
				<string>fooService</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
