<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>serviceName</key>
			<string>placeFinderService</string>
		</dict>
		<dict>
			<key>serviceName</key>
			<string>dataContextService</string>
		</dict>
		<dict>
			<key>serviceName</key>
			<string>sqlTransportService</string>
		</dict>
		<dict>
			<key>serviceName</key>
			<string>configurationStoreService</string>
		</dict>
	</array>
	<key>providers</key>
	<dict>
		<key>dataContextService</key>
		<dict>
			<key>providerClass</key>
			<string>DataContext</string>
			<key>initializer</key>
			<string>initWithSqlTransport:andConfigurationStore:</string>
			<key>dependencies</key>
			<array>
				<string>sqlTransportService</string>
				<string>configurationStoreService</string>
			</array>
		</dict>
		<key>sqlTransportService</key>
		<dict>
			<key>providerClass</key>
			<string>SqlTransport</string>
			<key>initializer</key>
			<string>initWithConfigurationStore:</string>
			<key>dependencies</key>
			<array>
				<string>configurationStoreService</string>
			</array>
		</dict>
		<key>configurationStoreService</key>
		<dict>
			<key>providerClass</key>
			<string>ConfigurationStore</string>
			<key>initializer</key>
			<string>init</string>
			<key>dependencies</key>
			<array/>
		</dict>
		<key>placeFinderService</key>
		<dict>
			<key>providerClass</key>
			<string>PlaceFinder</string>
			<key>initializer</key>
			<string>initWithDataContext:</string>
			<key>dependencies</key>
			<array>
				<string>dataContextService</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
